<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup><system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <connectionStrings>
    <add name="BaseIUS" connectionString="Data Source=CT9BD3;Initial Catalog=IUS;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="BaseMantenimiento" connectionString="Data Source=CT9BD2;Initial Catalog=ManttoCEDesa;User Id=manttoce;Password=manttoce2012" providerName="System.Data.SqlClient"/>
    <add name="BaseMantesis" connectionString="Data Source=\\ct9iis2\Mant.BD\Mantesis.mdb; Provider=Microsoft.Jet.OLEDB.4.0; Mode=ReadWrite|Share Deny None"/>
  </connectionStrings>


</configuration>
