<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
  <connectionStrings>
    <add name="BaseIUS" connectionString="Data Source=CT9BD3;Initial Catalog=IUS;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="BaseMantesis" connectionString="Data Source=CT9BD2;Initial Catalog=Mantesis;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="BaseMantenimiento" connectionString="Data Source=CT9BD2;Initial Catalog=ManttoCE;User Id=manttoce;Password=manttoce2012" providerName="System.Data.SqlClient"/>
    <add name="BasePrueba" connectionString="Data Source=CT9BD2;Initial Catalog=ManttoCEDesa;User Id=manttoce;Password=manttoce2012" providerName="System.Data.SqlClient"/>

    <!--Bases de Access para migrar los datos al final de mes -->
    <add name="BaseDH" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\Ct9iis2\16b\TemaDH.mdb;Jet OLEDB:System Database=C:\ius8.mda;User ID=desarrollo;Password=PROGRAMADORES;"/>
    <add name="BaseCongelado" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\Ct9iis2\16b\TEMADH - CONGELADOAPENDICE.mdb;Jet OLEDB:System Database=C:\ius8.mda;User ID=desarrollo;Password=PROGRAMADORES;"/>
    
    <add name="Suspension" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\Ct9iis2\16b\SuspActr.mdb;Jet OLEDB:System Database=C:\ius8.mda;User ID=desarrollo;Password=PROGRAMADORES;"/>  
    <add name="Improcedencia" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\Ct9iis2\16b\SuspActr.mdb;Jet OLEDB:System Database=C:\ius8.mda;User ID=desarrollo;Password=PROGRAMADORES;"/>  
    <add name="Facultades" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\Ct9iis2\16b\SuspActr.mdb;Jet OLEDB:System Database=C:\ius8.mda;User ID=desarrollo;Password=PROGRAMADORES;"/>  
    <add name="Electoral" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\Ct9iis2\16b\SuspActr.mdb;Jet OLEDB:System Database=C:\ius8.mda;User ID=desarrollo;Password=PROGRAMADORES;"/>  
  
  
  </connectionStrings>
  <appSettings>

    <add key="TipoAplicacion" value="PRUEBA"/>
    
    <add key="ContenedorOficios" value="Oficios\"/>
    <add key="RutaTxtErrorFile" value="C:\MensajesErrorSCJN\MensajesErrorMantAlternos.txt"/>
    <add key="ErrorPath" value="C:\MensajesErrorSCJN"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

</configuration>
